* { box-sizing: border-box; background-color: #9ABED5}

#barraleft {
  background-color: #6063D4;
  width: 4%;
  height: 920px;
  float: left;
}

#barraright {
  background-color: #6063D4;
  width: 4%;
  height: 920px;
  float: right;
}

#titulo {
  width: 90%;
  height: 30px;
  float: right;
  text-align: center;
  color: #6063D4;
  font-family: 'Dokdo', cursive;
  font-size: 180%;
}

img {
  width: 13%;
  height: 105px;
  float: left;
}

#texto {
  background-color: white;
  float: left;
  width: 79%;
  height: 100px;
  font-size: 13px;
}

.frase1 {
  background-color: #FF7A0C;
  width: 50%;
  height: 70px;
  float: left;
  border: white 5px dashed;
  margin: 1.6rem;
  font-size: 120%;
  margin-left: -15px;
  color: white;
}

.frase2 {
  background-image: url(verde.png);
  width: 50%;
  height: 70px;
  float: left;
  margin: -1rem;
  font-size: 120%;
  margin-left: 180px;
  color: black;
  border-radius: 12px;
  text-align: center;
}

.frase3 {
  background-color: #793D0C;
  width: 50%;
  height: 70px;
  float: left;
  margin: 2rem;
  font-size: 120%;
  margin-left: 260px;
  color: white;
}

.frase4 {
  background-image: url(verde.png);
  width: 50%;
  height: 70px;
  float: left;
  margin: -1rem;
  font-size: 120%;
  margin-left: 180px;
  border-radius: 12px;
  color: black;
  text-align: center;
}

.frase5 {
  background-color: #FF7A0C;
  width: 50%;
  height: 70px;
  float: left;
  border: white 5px dashed;
  margin: 2rem;
  font-size: 120%;
  margin-left: 110px;
  color: white;
}

.frase6 {
  background-image: url(verde.png);
  width: 50%;
  height: 70px;
  float: left;
  margin: -1rem;
  font-size: 120%;
  margin-left: 180px;
  border-radius: 12px;
  color: black;
  text-align: center;
}

.frase7 {
  background-color: #793D0C;
  width: 50%;
  height: 70px;
  float: left;
  margin: 2rem;
  font-size: 120%;
  margin-left: 260px;
  color: white;
}

.frase8 {
  background-image: url(verde.png);
  width: 50%;
  height: 70px;
  float: left;
  margin: -1rem;
  font-size: 120%;
  margin-left: 180px;
  color: black;
  border-radius: 12px;
  text-align: center;
}

.frase9 {
  background-color: #FF7A0C;
  width: 50%;
  height: 70px;
  float: left;
  border: white 5px dashed;
  margin: 2rem;
  font-size: 120%;
  margin-left: 110px;
  color: white;
}
